//Variables
$text-color: #000;
$lt-grey: #F0F0F0;
$dark-grey: #121212;
$nav-grey: #B3B3B3;

$base-green: #60BA40; //lightest green 
$dark-green: #024D02;
$med-green: #00944A; // link colour


$logo: "img/beansprouts-icon.png";
$logo-font: "Patrick Hand SC", cursive;

$nav-size: 14px;
$body-size: 14px;
$h2-size: 20px;

$break-sml: 640px;
$break-med: 1100px;

body {
	background-color: $lt-grey;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: $body-size;
	display: inline;

	a {
		text-decoration: none;
		color: $med-green;

		&:hover {
			color: $base-green;
		}
	}
}

#wrap {
	width: 80%;
	margin: 20px auto 80px auto;
	//border: 1px red solid; // remove

	.input {

		line-height: 20px;
		margin: 5px;
		width: 400px;
		
		vertical-align: top;
		position: relative;
		display: block;

		.textbox {
			width: 250px;
			margin: 0 0 0 20px;
		}
		
		.formButton {
			width: 120px;
			margin: 20px 100px;
		}


	}
	

	#loginform {
		width: 280px;
		margin: 0 auto;
	}

	#login {
		margin-top: 20px;
		position: relative;
		margin-left: 40%;
		width: 20%;
	}



	#hero {
		//border: 1px blue solid; // remove
		width: 80%;
		margin: 5px auto;
		text-align: center;

		#eventimg {
			max-height: 400px;
			max-width: 100%;
		}

		#name {
			font-size: 30px;
			font-weight: bold;
			display: block;
			bottom: 50px;
			position: relative;
			
			margin: 0 auto;
			background-color: rgba(240, 240, 240, 0.7);
			line-height: 50px;
			
			@media screen and (max-width: $break-sml) {
				font-size: 18px;
				line-height: none;
			}

		}

		@media screen and (max-width: $break-sml) {
			width: 100%;
		}
	}


	.event-block-stream {
		
		text-align: center;

		.event-block {
			border: 2px solid;
			border-radius: 10px;
			border-color: rgba(96, 186, 64, 0.2);
			

			margin: 30px;
			max-width: 400px;
			width: 25%;
			min-height: 150px;
			max-height: 400px;
			display: inline-block;
			vertical-align: top;
			text-align: left;

			padding: 10px;

			.event-block-desc, .event-block-date {
				color: $text-color;
			}

			.event-block-name {
				font-size: $h2-size;
				margin: 0 0 10px 0;
			}

			.event-block-date {
				margin: 0 0 5px 0;
			}

			&:hover {
				border-color: rgba(96, 186, 64, 0.4);
				background-color: #F6F6F6;

				.event-block-name, .event-block-desc, .event-block-date { 
					color: $base-green;
				}


			}

			@media screen and (max-width: $break-med) {
				margin: 15px;
				width: 90%;
				max-width: 500px;
				min-height: 100px;

			}

			@media screen and (max-width: $break-sml) {
				max-width: 600px;
				width: 90%;
				margin: 10px auto;
				min-height: 100px;
				padding: 15px;
			}
		}
	}
	

	.heroname {
		font-size: $h2-size;
		margin: 20px 0;
	}

	.person-data, .contact, .system-user-data {
		margin: 15px 0;
		line-height: 20px;

		span {
			text-decoration: underline;
		}

		i {
			margin: 0 5px 0 0;
			font-size: ($body-size + 2);
		}
	}


	.event-details, .act-details, .role-details {
		margin: 0 0 40px 0;
		line-height: 20px;

		#location {
			margin: 10px 0 30px 0;
			font-style: italic;
		}

		#name {
			font-size: $h2-size;
			margin: 20px 0 20px 0;
		}

		.date {
			font-size: $h2-size;
			margin: 0 0 10px 0;
		}

		.act-time {
			margin: 0 0 0 25px;
		}

		#paid {
			margin: 20px 0 0 0;
		}

		.event-edit, .act-edit, .role-edit {
			margin: 20px 0 0 20px;
			line-height: 20px;
		}
	}

	.event-activity, .role-applicant {

		.event-activity-head, .role-applicant-head {
			font-size: $h2-size;
			text-decoration: underline;
			margin: 0 0 10px 0;
		}

		.event-activity-edit {
			margin: 5px 0 15px 0;
		}
	}

	#error {
		margin: 12px 0 0 0;
	}

	#bigbean, #bigbeantext {
		height: 90px;
		position: relative;
		font-size: 30px;
		font-family: $logo-font;

	}

	#username, .password {
		width: 150px;
		float: right;
		margin: 2px 30px;
	}
	
	.textfield {
		line-height: 30px;
	}

	.errormsg {
		color: red;
	}

	.formButton {
		background: $med-green;
		color: $lt-grey;
		font-size: $body-size;
		border: none;
		border-radius: 4px;
		line-height: 25px;
		min-width: 100px;

		&:hover {
			background: $base-green;
		}
	}
}


#nav-bar {
	background-color: $dark-grey;

	width: 100%;
	position: relative;
	padding: 5px 0;

	font-size: $nav-size;

	ul {
		margin: 0;
		padding-left: 20px;
	}

	li {

		list-style: none;
		display: inline;
		padding: 10px;

		&:hover {
			color: $base-green; 
		}

		#logo {
			font-family: $logo-font;
			font-size: 20px;
		}

		img {
			height: 25px;
		}

		a {
			color: $nav-grey;
			text-decoration: none;

			&:hover {
				color: $base-green;
			}
		}
	}

	#selected {
		border-top-color: $base-green;
	}

	#ham {
		display: none;
	}

	@media screen and (max-width: $break-sml) {
		li {
			display: block;
			padding: 5px;
		}

		#ham {
			display: inline;
			position: absolute;
			right: 25px;
			top: 15px;
			font-size: 20px;

			a {
				color: $nav-grey;
			}

		}

		.h {
			display: none;
		}

	}
}
