//Variables
$text-color: #000;
$lt-grey: #F0F0F0;
$dark-grey: #121212;
$nav-grey: #B3B3B3;

$base-green: #60BA40; //lightest green 
$dark-green: #024D02;
$med-green: #00944A; // link colour


$logo: "img/beansprouts-icon.png";
$logo-font: "Patrick Hand SC", cursive;

$nav-size: 14px;
$body-size: 14px;
$h2-size: 20px;

$break-sml: 640px;

body {
	background-color: $lt-grey;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: $body-size;
	display: inline;

	a {
		text-decoration: none;
		color: $med-green;

		&:hover {
			color: $base-green;
		}
	}
}

#wrap {
	width: 80%;
	margin: 15px auto;
	//border: 1px red solid; // remove

	form {
		width: 280px;
		margin: 0 auto;
	}

	#login {
		margin-top: 20px;
		position: relative;
		margin-left: 40%;
		width: 20%;
	}

	#hero {
		//border: 1px blue solid; // remove
		width: 80%;
		margin: 5px auto;
		text-align: center;

		#eventimg {
			max-height: 400px;
			max-width: 100%;
		}

		#name {
			font-size: 30px;
			font-weight: bold;
			display: block;
			bottom: 50px;
			position: relative;
			
			margin: 0 auto;
			background-color: rgba(240, 240, 240, 0.7);
			line-height: 50px;
			
			@media screen and (max-width: $break-sml) {
				font-size: 18px;
				line-height: none;
			}

		}

		@media screen and (max-width: $break-sml) {
			width: 100%;
		}
	}

	.event-details {
		margin: 0 0 40px 0;

		#location {
			margin: 0 0 30px 0;
			font-style: italic;
		}

		.date {
			font-size: $h2-size;
			margin: 0 0 10px 0;
		}

		.time {
			font-size: ($h2-size - 4);
			margin: 0 0 10px 0;
		}

		.event-edit {
			margin: 20px 0 0 20px;
		}
	}

	.event-activity {

		.event-activity-head {
			font-size: $h2-size;
			text-decoration: underline;
			margin: 0 0 10px 0;
		}

		.event-activity-edit {
			margin: 5px 0 15px 20px;
		}
	}

	#error {
		margin: 12px 0 0 0;
	}

	#bigbean, #bigbeantext {
		height: 90px;
		position: relative;
		font-size: 30px;
		font-family: $logo-font;

	}

	#username, #password {
		width: 150px;
		float: right;
		margin: 2px 30px;
	}
	
	.textfield {
		line-height: 30px;
	}

	.errormsg {
		color: red;
	}

	.formButton {
		background: $med-green;
		color: $lt-grey;
		font-size: $body-size;
		border: none;
		border-radius: 4px;
		line-height: 25px;
		min-width: 100px;

		&:hover {
			background: $base-green;
		}
	}
}


#nav-bar {
	background-color: $dark-grey;

	width: 100%;
	position: relative;
	padding: 5px 0;

	font-size: $nav-size;

	ul {
		margin: 0;
		padding-left: 20px;
	}

	li {

		list-style: none;
		display: inline;
		padding: 10px;

		&:hover {
			color: $base-green; 
		}

		#logo {
			font-family: $logo-font;
			font-size: 20px;
		}

		img {
			height: 25px;
		}

		a {
			color: $nav-grey;
			text-decoration: none;

			&:hover {
				color: $base-green;
			}
		}
	}

	#selected {
		border-top-color: $base-green;
	}

	#ham {
		display: none;
	}

	@media screen and (max-width: $break-sml) {
		li {
			display: block;
			padding: 5px;
		}

		#ham {
			display: inline;
			position: absolute;
			right: 25px;
			top: 15px;
			font-size: 20px;

			a {
				color: $nav-grey;
			}

		}

		.h {
			display: none;
		}

	}
}
