//Variables
$text-color: #000;
$lt-grey: #F0F0F0;
$dark-grey: #121212;
$nav-grey: #7A7A7A;

$base-green: #60A040; //lightest green 
$dark-green: #048A04;
$med-green: #00AA55;


$logo: "img/beansprouts-icon.png";
$logo-font: "Patrick Hand SC", cursive;

$nav-size: 14px;
$body-size: 14px;



body {
	background-color: $lt-grey;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: $body-size;
	display: inline;
}

#wrap {
	width: 80%;
	margin: 15px auto;

	form {
		width: 300px;
		margin: 0 auto;
	}
}


#nav-bar {
	background-color: $dark-grey;
	color: $nav-grey;

	width: 100%;
	position: relative;
	padding: 5px 0;

	font-size: $nav-size;

	ul {
		margin: 0;
		padding-left: 20px;
	}

	li {

		list-style: none;
		display: inline;
		padding: 10px;

		&:hover {
			color: $base-green; 
		}

		#logo {
			font-family: $logo-font;
			font-size: 20px;
		}

		img {
			height: 25px;
		}

		a {
			color: $nav-grey;
			text-decoration: none;

			&:hover {
				color: $base-green;
			}
		}
	}

	#selected {
		border-top-color: $base-green;
	}
}