body {
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  display: inline;
}

#wrap {
  width: 80%;
  margin: 15px auto;
}
#wrap form {
  width: 280px;
  margin: 0 auto;
}
#wrap .textfield {
  line-height: 30px;
}
#wrap #login {
  margin-top: 20px;
  position: relative;
  margin-left: 40%;
  width: 20%;
}
#wrap #hero {
  width: 80%;
  margin: 5px auto;
  text-align: center;
}
#wrap #error {
  margin: 12px 0 0 0;
}
#wrap #bigbean, #wrap #bigbeantext {
  height: 90px;
  position: relative;
  font-size: 30px;
  font-family: "Patrick Hand SC", cursive;
}
#wrap #username, #wrap #password {
  width: 150px;
  float: right;
  margin: 2px 30px;
}
#wrap .formButton {
  background: #048a04;
  color: #f0f0f0;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  line-height: 25px;
  min-width: 100px;
}
#wrap .formButton:hover {
  background: #60a040;
}

#nav-bar {
  background-color: #121212;
  color: #989898;
  width: 100%;
  position: relative;
  padding: 5px 0;
  font-size: 14px;
}
#nav-bar ul {
  margin: 0;
  padding-left: 20px;
}
#nav-bar li {
  list-style: none;
  display: inline;
  padding: 10px;
}
#nav-bar li:hover {
  color: #60a040;
}
#nav-bar li #logo {
  font-family: "Patrick Hand SC", cursive;
  font-size: 20px;
}
#nav-bar li img {
  height: 25px;
}
#nav-bar li a {
  color: #989898;
  text-decoration: none;
}
#nav-bar li a:hover {
  color: #60a040;
}
#nav-bar #selected {
  border-top-color: #60a040;
}
#nav-bar #ham {
  display: none;
}
@media screen and (max-width: 500px) {
  #nav-bar li {
    display: block;
    padding: 5px;
  }
  #nav-bar #ham {
    display: inline;
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 20px;
  }
  #nav-bar #ham a {
    color: #989898;
  }
  #nav-bar .h {
    display: none;
  }
}
